*.sdf
*.suo
*.opensdf
*.user
/ipch
/Tmp
/Output/PdbDebug
/Output/Debug
/Output/Release
/Output/PdbRelease
/3rd/jsoncpp/build
/3rd/tinyxml/Debugtinyxml
/3rd/tinyxml/ReleasetinyXmlTestSTL
/3rd/tinyxml/DebugtinyxmlSTL
/3rd/tinyxml/DebugtinyXmlTest
/3rd/tinyxml/DebugtinyXmlTestSTL
/3rd/tinyxml/Releasetinyxml
/3rd/tinyxml/ReleasetinyxmlSTL
/3rd/tinyxml/ReleasetinyXmlTest
/3rd/jsoncpp/makefiles/vs71/ipch/lib_json-1ddcb342/*.ipch
/Output/LibRelease
/Output/LibDebug
